<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.cetcme.rcldandroidZhejiang">

    <!-- frandroid 相关权限 写入开始 -->

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="ANDROID.PERMISSION.BIND_VPN_SERVICE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <!-- 支持iBeancon 需要蓝牙权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <!-- 支持个推3.0 电子围栏功能 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 浮动通知权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <!-- 【必须】 信鸽SDK所需权限 开始 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.RESTART_PACKAGES"/>
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>

    <!-- 【必须】 信鸽SDK所需权限 结束 -->
    <!-- frandroid 相关权限 写入结束 -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/zheyutongicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme1">

        <!-- Baidu Map -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="scfFuUVYVYimLAGl65LmD8ELf9O7ctNK" />

        <service android:name="com.baidu.location.f" android:enabled="true" android:process=":remote" />

        <!-- UMENG-->
        <meta-data android:value="57b54a4367e58e02f9001576" android:name="UMENG_APPKEY" />
        <meta-data android:value="Channel" android:name="UMENG_CHANNEL"/>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="8dd255d6576746ffd0ffc9481ed7cb19" >
        </meta-data>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- frandroid 相关activity设置写入开始 -->
        <activity
            android:name="com.fr.android.parameter.ui.widget.core.IFTextScanActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:screenOrientation="sensorPortrait"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity
            android:name="com.fr.android.parameter.ui.widget.core.IFTextScanHorizontalActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity
            android:name="com.fr.android.form.IFFormActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
            android:name="com.fr.android.form.IFFormActivity4BI"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
            android:name="com.fr.android.report.IFReportActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/IFTheme"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
            android:name="com.fr.android.report.IFReportActivityWithPath"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/IFTheme"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
            android:name="com.fr.android.form.IFFormActivityWithPath"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
            android:name="com.fr.android.report.IFWebViewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"/>
        <activity android:name="com.fr.android.chart.Gallery3DActivity"/>
        <activity
            android:name="com.fr.android.report.IFGalleryActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name="com.fr.android.report.IFGalleryActivityHorizontal"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name="com.fr.android.report.IFShareActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/NoAnimationTheme"/>
        <activity
            android:name="com.fr.android.report.IFShareActivityHorizontal"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/NoAnimationTheme"/>
        <activity
            android:name="com.fr.android.app.activity.IFConfigActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"/>
        <activity
            android:name="com.fr.android.app.activity.IFConfigActivity4Pad"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name="com.fr.android.app.contents.IFMainPage"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"/>
        <activity
            android:name="com.fr.android.app.offline.ui.IFTempStoragePage"
            android:screenOrientation="sensorPortrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"/>
        <activity
            android:name="com.fr.android.app.offline.ui.IFTempStoragePage4Pad"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"/>
        <activity
            android:name="com.fr.android.app.push.IFNotificationHandler"
            android:theme="@style/TransparentTheme"/>
        <activity
            android:name="com.fr.android.app.activity.IFLoginZY"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"/>
        <activity
            android:name="com.fr.android.app.activity.IFLoginZY4Pad"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"/>
        <activity
            android:name="com.fr.android.app.activity.IFServerPage4Pad"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity
            android:name="com.fr.android.app.activity.IFWelcome4Phone"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity
            android:name="com.fr.android.app.activity.IFWelcome4Pad"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity
            android:name="com.fr.android.app.contents.IFMainPage4Pad"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/IFTheme"/>
        <activity
            android:name="com.fr.android.app.activity.IFServerPage"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity
            android:name="com.fr.android.app.activity.IFDeviceActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity
            android:name="com.fr.android.app.activity.IFDeviceActivity4Pad"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/TransparentTheme"/>
        <activity
            android:name="com.fr.android.app.activity.IFAboutActivity4Pad"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/TransparentTheme"/>
        <activity
            android:name="com.fr.android.app.activity.IFAboutActivity4Phone"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"/>
        <activity
            android:name="com.fr.android.app.activity.IFAddServer4Phone"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity
            android:name="com.fr.android.app.activity.IFAddServer4Pad"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity
            android:name="com.fr.android.ui.imageupload.IFImageSelectActivity"
            android:theme="@style/IFTheme"/>
        <activity
            android:name="com.fr.android.ui.imageupload.IFImageSelectActivity4Pad"
            android:screenOrientation="sensorLandscape"/>
        <activity
            android:name="com.fr.android.ui.imageupload.IFSelectChooseActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:theme="@style/TransparentTheme"/>
        <activity
            android:name="com.fr.android.ui.imageupload.IFSelectChooseActivity4Pad"
            android:screenOrientation="sensorLandscape"/>
        <activity
            android:name="com.fr.android.activity.LoadAppFromURLActivity"
            android:exported="true"/>
        <activity
            android:name="com.fr.android.activity.LoadAppFromWelcomeActivity"
            android:exported="true"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity
            android:name="com.fr.android.tools.BugReportActivity"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity
            android:name="com.fr.android.bi.FineBIViewController"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="false"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light">
        </activity>
        <activity
            android:name="com.fr.android.bi.LinkController"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="com.fr.android.app.activity.IFChangePasswordActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"/>
        <activity
            android:name="com.fr.android.app.activity.IFChangePasswordActivity4Pad"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"/>
        <activity
            android:name="com.fr.android.ui.gesturelock.IFGestureLockActivity"
            android:theme="@android:style/Theme.Holo.Light"/>
        <activity
            android:name="com.fr.android.vpn.IFVPNPage"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"/>
        <activity
            android:name="com.fr.android.vpn.IFVPNPage4Pad"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <service android:name="com.fr.android.app.activity.IFUpdateService"/>

        <!-- fr end -->

        <activity android:name=".ServiceActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".RecordActivity"
                  android:launchMode="singleTask"/>
        <activity android:name=".ShipActivity"
                  android:launchMode="singleTask"/>
        <activity android:name=".VisaActivity"
                  android:launchMode="singleTask"/>
        <activity android:name=".LoginActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".WebActivity"
                  android:launchMode="singleTask"/>
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme"/>
        <activity android:name=".TableActivity"/>
        <activity android:name=".TodoActivity"
                  android:launchMode="singleTask">
        </activity>
        <activity android:name=".ChangePasswordActivity"
                  android:launchMode="singleTask">
        </activity>
        <activity android:name=".VersionActivity"
                  android:launchMode="singleTask">
        </activity>
        <activity android:name=".OfflineMapActivity"
                  android:launchMode="singleTask">
        </activity>
        <activity android:name=".CheckPhoneActivity"
                  android:launchMode="singleTask">
        </activity>
        <activity android:name=".RegisterInfoActivity"
                  android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".xia.SearchRecordListActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".xia.SearcherPayEnsuranceActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity
            android:name=".xia.DetailPayInsuranceInfoActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".xia.SearcherClaimActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity
            android:name=".xia.DetailClaimInfoActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".xia.SearcherTradeActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity
            android:name=".xia.DetailTradingInfoActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".xia.SearcherShipDetectActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity
            android:name=".xia.SearcherDrawingCheckActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity
            android:name=".xia.DetailShipDetectInfoActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".xia.DetailDrawingCheckInfoActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity
            android:name=".xia.DetailFishShipActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".rcld.ioConfirmActivity"
                  android:launchMode="singleInstance"/>
        <activity android:name=".rcld.iofSailorActivity"
                  android:launchMode="singleTask"/>
        <activity android:name=".rcld.ioLogActivity"
                  android:launchMode="singleTask"/>
        <activity android:name=".rcld.ReasonActivity"
                  android:launchMode="singleTask"/>
        <activity android:name=".rcld.PunchActivity"
                  android:launchMode="singleTask"/>
        <activity
            android:name=".ShipInfoActivity"
            android:theme="@style/myDialogActivityStyle"
            android:launchMode="singleTask">
        </activity>
        <activity android:name=".ProcessActivity"
                  android:launchMode="singleTask">
        </activity>
        <activity android:name=".rcld.RouteActivity"
                  android:launchMode="singleTask"/>
        <activity android:name=".rcld.RouteDisplayActivity"
                  android:launchMode="singleTask"/>
        <activity android:name=".TodoListActivity"
                  android:launchMode="singleTask">
        </activity>
        <activity android:name=".LawActivity"
                  android:launchMode="singleTask">
        </activity>
        <activity android:name=".LawContentActivity"
                  android:launchMode="singleTask">
        </activity>
        <activity android:name=".RouteRecordActivity"
                  android:screenOrientation="portrait"
                  android:launchMode="singleTask"/>
        <activity android:name=".RouteFilesActivity"
                  android:screenOrientation="portrait"
                  android:launchMode="singleTask"/>
    </application>

</manifest>